@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<Flower.Models.Purchase>

@{
    ViewData["Title"] = "Purchases";
}

<h2>Purchases</h2>

@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded ||
   (await AuthorizationService.AuthorizeAsync(User, "Employee")).Succeeded)
{
    <p>
        <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.FullName)
            </td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded ||
                  (await AuthorizationService.AuthorizeAsync(User, "Employee")).Succeeded)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PurchaseID" class="btn btn-success btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.PurchaseID" class="btn btn-success btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PurchaseID" class="btn btn-success btn-sm">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
