@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<Flower.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded ||
    (await AuthorizationService.AuthorizeAsync(User, "Employee")).Succeeded)
{
    <p>
        <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded ||
                  (await AuthorizationService.AuthorizeAsync(User, "Employee")).Succeeded)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-success btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-success btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-success btn-sm">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
